# Python-related
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
ENV/
*.env
Pipfile
Pipfile.lock

# Migrations (optional, keep them if versioning)
*/migrations/*  
!*/migrations/__init__.py

# Windows
Thumbs.db
